*.txt
*.log
*.net
*.raw
*.mat

#latex run files
*.aux
*.bbl
*.bcf
*.blg
*.xml
*.gz
*.toc

*.c

dymosim*

#Modelica backup files
*.bak-mo

# VSCode
.vscode

# Jupyter notebook temp files
.ipynb_checkpoints

!/MPC/Resources/Include/**
!/MPC/Resources/Library/**
!/MPC/Resources/Source/**

#Microsoft temp files
~$*
